h1 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  color: #11151c;
  line-height: 2.2rem;
}

main {
  width: 100%;
  height: 100%;
  position: static;
}

.header {
  font-size: 2.3rem;
}
.header__navbar {
  background-color: #6c584c !important;
}

.container__menu li {
  list-style: none;
  display: inline-block;
  padding: 0 18px;
}
.container__menu a {
  font-weight: 700;
  text-transform: uppercase;
  height: 80px;
  text-decoration: none;
  color: #FFF;
}
.container__menu a:hover {
  color: #03FA6E;
}

.navbar-toggler {
  border: 1px solid #FFF;
  font-size: 1.8rem;
}
.navbar-toggler-icon {
  color: #FFF;
}

.footer {
  background-color: #472d30;
}
.footer__logo {
  height: 90px;
  padding-top: 5px;
}
.footer__text-made {
  font-size: 2rem;
  color: #FFF;
  font-weight: 700;
}
.footer__projects {
  color: #FFF;
  font-weight: 700;
}
.footer__projects p {
  margin: 0;
  text-decoration: underline;
  text-underline-position: under;
}
.footer__projects li {
  list-style: none;
  margin-right: 20px;
}
.footer__projects--links {
  font-size: 1.6rem;
  padding-left: 0;
  padding-top: 5px;
}
.footer__projects a {
  padding-left: 8px;
  border-left: 3px solid #03FA6E;
  text-decoration: none;
  color: #FFF;
}
.footer__projects a:hover {
  color: #03FA6E;
}

.card a {
  text-decoration: none;
  color: #03FA6E;
  text-shadow: 1px 1px 1px #11151c;
}
.card a:hover {
  color: #02883c;
}

.social-nav {
  position: fixed;
  top: 15%;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85px;
  border: 1px solid rgba(17, 21, 28, 0.2);
  border-radius: 15px;
}
.social-nav li {
  margin: 3px 0;
}
.social-nav li:hover {
  border: 1px solid rgba(17, 21, 28, 0.1);
  border-radius: 50%;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
}

.not-found {
  height: 100vh;
  padding-top: 130px;
}
.not-found h2 {
  color: #472d30;
  margin-top: 20px;
  margin-bottom: 30px;
}
.not-found a {
  font-size: 2rem;
  font-weight: 700;
}

.btn-outline-success {
  --bs-btn-color: #03FA6E;
  --bs-btn-border-color: #03FA6E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #03FA6E;
  --bs-btn-hover-border-color: #03FA6E;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #03FA6E;
  --bs-btn-active-border-color: #03FA6E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #03FA6E;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #03FA6E;
  --bs-gradient: none;
}

.single__image img {
  border-radius: 15px;
}

.single__description {
  border-left: 1px solid rgba(17, 21, 28, 0.3);
}
.single__description p {
  padding-left: 8px;
}

.nav-pagination {
  margin: auto 30px;
}
.nav-pagination a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #03FA6E;
  text-shadow: 0.5px 0.5px 0.5px #11151c;
}
.nav-pagination a:hover {
  color: #02883c;
}

.contact h2 {
  margin: 25px auto;
}

.contact__hero {
  border-radius: 15px;
}

.contact__card {
  border-radius: 15px;
  margin-bottom: 15px;
}
.contact__card h3 {
  font-size: 2rem;
}
.contact__card p {
  font-size: 1.6rem;
}
.contact__card img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.contact-info__email small, .contact-info__calendly small {
  text-transform: lowercase;
  font-size: 1.8rem;
  margin-left: 10px;
}

.cv__download-bt li {
  list-style: none;
}
.cv__download-bt a {
  padding: 10px 25px;
  font-size: 2.2rem;
  font-weight: 700;
}

.contact__social-media {
  padding-top: 10px;
}
.contact__social-media p {
  margin-top: 6px;
  font-size: 2.2rem;
}
.contact__social-media a {
  font-weight: 700;
  text-decoration: none;
  color: #03FA6E;
  text-shadow: 0.5px 0.5px 0.5px #11151c;
}
.contact__social-media a:hover {
  color: #005625;
}

.portfolio__table img {
  margin-left: 10px;
}

.blog__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 400px;
}

.blog__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.blog__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.blog__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.blog__grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.blog__grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.blog__grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.blog__grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.blog__grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.item-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.item-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.item-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.item-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}