h1 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: #f7fff7;
  font-family: "Source Sans Pro", sans-serif;
  color: #11151c;
}

main {
  width: 100%;
  height: 100%;
  position: static;
}

.header {
  font-size: 2.3rem;
}
.header__navbar {
  background-color: #6c584c !important;
}

.container__menu li {
  list-style: none;
  display: inline-block;
  padding: 0 18px;
}
.container__menu a {
  font-weight: 700;
  text-transform: uppercase;
  height: 80px;
  text-decoration: none;
  color: #f7fff7;
}
.container__menu a:hover {
  color: #03FA6E;
}

.navbar-toggler {
  border: 1px solid #f7fff7;
  font-size: 1.8rem;
}
.navbar-toggler-icon {
  color: #f7fff7;
}

.footer {
  background-color: #472d30;
}
.footer__logo {
  height: 90px;
  padding-top: 5px;
}
.footer__text-made {
  font-size: 2rem;
  color: #f7fff7;
  font-weight: 700;
}
.footer__projects {
  color: #f7fff7;
  font-weight: 700;
}
.footer__projects p {
  margin: 0;
  text-decoration: underline;
  text-underline-position: under;
}
.footer__projects li {
  list-style: none;
  margin-right: 20px;
}
.footer__projects--links {
  font-size: 1.6rem;
  padding-left: 0;
  padding-top: 5px;
}
.footer__projects a {
  padding-left: 8px;
  border-left: 3px solid #03FA6E;
  text-decoration: none;
  color: #f7fff7;
}
.footer__projects a:hover {
  color: #03FA6E;
}

.card a {
  text-decoration: none;
  color: #03FA6E;
  text-shadow: 1px 1px 1px #11151c;
}
.card a:hover {
  color: #02883c;
}

.social-nav {
  position: fixed;
  top: 15%;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85px;
  border: 1px solid rgba(17, 21, 28, 0.2);
  border-radius: 15px;
}
.social-nav li {
  margin: 3px 0;
}
.social-nav li:hover {
  border: 1px solid rgba(17, 21, 28, 0.1);
  border-radius: 50%;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
}

.not-found {
  height: 100vh;
  padding-top: 130px;
}
.not-found h2 {
  color: #472d30;
  margin-top: 20px;
  margin-bottom: 30px;
}
.not-found a {
  font-size: 2rem;
  font-weight: 700;
}

.btn-outline-success {
  --bs-btn-color: #03FA6E;
  --bs-btn-border-color: #03FA6E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #03FA6E;
  --bs-btn-hover-border-color: #03FA6E;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #03FA6E;
  --bs-btn-active-border-color: #03FA6E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #03FA6E;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #03FA6E;
  --bs-gradient: none;
}

.single__image img {
  border-radius: 15px;
}

.single__description {
  border-left: 1px solid rgba(17, 21, 28, 0.3);
}
.single__description p {
  padding-left: 8px;
}