h1 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 2.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  color: #212529;
  line-height: 2.2rem;
}

main {
  width: 100%;
  height: 100%;
  position: static;
}

.container {
  max-width: 1140px;
}

.header {
  font-size: 2.3rem;
}
.header__navbar {
  background-color: #6c584c !important;
}

.container__menu li {
  list-style: none;
  display: inline-block;
  padding: 0 18px;
}
.container__menu a {
  font-weight: 700;
  text-transform: uppercase;
  height: 80px;
  text-decoration: none;
  color: #FFF;
}
.container__menu a:hover {
  color: #03FA6E;
}

.navbar-toggler {
  border: 1px solid #FFF;
  font-size: 1.8rem;
}
.navbar-toggler-icon {
  color: #FFF;
}

.container-btn {
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 8px;
}
.container-btn__btn {
  font-size: 2.5rem;
  color: #FFF;
  cursor: pointer;
}

.container__header {
  padding-top: 5px;
}

@media screen and (max-width: 770px) {
  .toggle-menu {
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 8px;
    font-size: 2.2rem;
    z-index: 1;
    cursor: pointer;
  }
  .toggle-menu i {
    color: #FFF;
  }

  .container__menu {
    position: absolute;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 70px;
    left: 0;
  }

  #menu-main-menu {
    width: 100%;
    background-color: rgba(108, 88, 76, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
  }
  #menu-main-menu li {
    padding: 1em 0;
  }

  .container__header {
    padding-top: 0;
  }

  .main-menu--show {
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
  }
}
@media screen and (min-width: 770px) {
  .toggle-menu {
    display: none;
  }
}
.footer {
  background-color: #472d30;
}
.footer__logo {
  height: 90px;
  padding-top: 5px;
}
.footer__text-made {
  font-size: 2rem;
  color: #FFF;
  font-weight: 700;
}
.footer__projects {
  color: #FFF;
  font-weight: 700;
}
.footer__projects p {
  margin: 0;
  text-decoration: underline;
  text-underline-position: under;
}
.footer__projects li {
  list-style: none;
  margin-right: 20px;
}
.footer__projects--links {
  font-size: 1.6rem;
  padding-left: 0;
  padding-top: 5px;
}
.footer__projects a {
  padding-left: 8px;
  border-left: 3px solid #03FA6E;
  text-decoration: none;
  color: #FFF;
}
.footer__projects a:hover {
  color: #03FA6E;
}

@media screen and (max-width: 768px) {
  .footer__projects {
    display: none;
  }

  .footer__text-made {
    text-align: end;
  }
}
.banner-responsive {
  display: none;
}

.card-projects img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card-projects a {
  text-decoration: none;
  color: #03FA6E;
  text-shadow: 1px 1px 1px #212529;
}
.card-projects a:hover {
  color: #02883c;
}

.api-blogs__title {
  margin-top: 20px;
  margin-bottom: 15px;
}

.blogs__cards img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.blogs__cards--body {
  padding: 0 12px 0 20px;
}
.blogs__cards--body p {
  font-size: 1.6rem;
}
.blogs__cards--btn {
  margin-top: 25px;
  margin-bottom: 15px;
}
.blogs__cards--btn a {
  font-size: 1.6rem;
  padding: auto 10px;
  color: #03FA6E;
  font-weight: 700;
}

@media screen and (max-width: 570px) {
  .banner-home {
    display: none;
  }

  .banner-responsive {
    display: initial;
  }

  .card-projects {
    max-width: 330px;
    margin: 0 auto;
  }

  .blogs__cards {
    max-width: 330px;
    margin: 0 auto !important;
  }
}
.social-nav {
  position: fixed;
  top: 17.5%;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85px;
  border: 1px solid rgba(33, 37, 41, 0.2);
  border-radius: 15px;
}
.social-nav li {
  margin: 3px 0;
}
.social-nav li:hover {
  border: 1px solid rgba(33, 37, 41, 0.1);
  border-radius: 50%;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 1140px) {
  .social-nav {
    display: none;
  }
}
@media screen and (min-width: 1445px) {
  .social-nav {
    top: 10%;
    left: 20vw;
  }
}
.not-found {
  height: 100vh;
  padding-top: 130px;
}
.not-found h2 {
  color: #472d30;
  margin-top: 20px;
  margin-bottom: 30px;
}
.not-found a {
  font-size: 2rem;
  font-weight: 700;
}

.btn-outline-success {
  --bs-btn-color: #03FA6E;
  --bs-btn-border-color: #03FA6E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #03FA6E;
  --bs-btn-hover-border-color: #03FA6E;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #03FA6E;
  --bs-btn-active-border-color: #03FA6E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #03FA6E;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #03FA6E;
  --bs-gradient: none;
}

.single__image img {
  border-radius: 15px;
}

.single__description {
  border-left: 1px solid rgba(33, 37, 41, 0.3);
}
.single__description p {
  padding-left: 8px;
}

.nav-pagination {
  margin: auto 30px;
}
.nav-pagination a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #03FA6E;
  text-shadow: 0.5px 0.5px 0.5px #212529;
}
.nav-pagination a:hover {
  color: #02883c;
}

.container-seemore a {
  font-size: 2rem;
  padding: 10px;
}

.contact h2 {
  margin: 25px auto;
}

.contact__hero {
  border-radius: 15px;
}

.contact__card {
  border-radius: 15px;
  margin-bottom: 15px;
}
.contact__card h3 {
  font-size: 2rem;
}
.contact__card p {
  font-size: 1.6rem;
}
.contact__card img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.contact-info__email small, .contact-info__calendly small {
  text-transform: lowercase;
  font-size: 1.8rem;
  margin-left: 10px;
}

.cv__download-bt li {
  list-style: none;
}
.cv__download-bt a {
  padding: 10px 25px;
  font-size: 2.2rem;
  font-weight: 700;
}

.contact__social-media {
  padding-top: 10px;
}
.contact__social-media p {
  margin-top: 6px;
  font-size: 2.2rem;
}
.contact__social-media a {
  font-weight: 700;
  text-decoration: none;
  color: #03FA6E;
  text-shadow: 0.5px 0.5px 0.5px #212529;
}
.contact__social-media a:hover {
  color: #005625;
}

.logros-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logros-img img {
  max-width: 250px;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 770px) {
  .contact__hero {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }

  .logros-img {
    text-align: center;
  }
  .logros-img img {
    height: 300px;
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.portfolio__table img {
  margin: 5px 10px 5px 0;
}

@media screen and (max-width: 780px) {
  .table-content {
    display: none;
  }
}
.blog__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 400px;
}
.blog__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.blog__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.blog__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.blog__grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.blog__grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.blog__grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.blog__grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.blog__grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.item-1 {
  position: relative;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.item-2 {
  position: relative;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.item-3 {
  position: relative;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.item-4 {
  position: relative;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: transparent;
}

.overlay:hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
  padding: 20px 25px;
}
.overlay:hover p {
  font-size: 1.6rem;
  font-weight: 700;
}

.blog__card--image img {
  margin-left: 5px;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 3px 13px 2px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 1px 3px 13px 2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 1px 3px 13px 2px rgba(0, 0, 0, 0.56);
}
.blog__card--body {
  margin-left: 5px;
}
.blog__card--body h3 {
  margin-bottom: 8px;
}
.blog__card--body p {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.blog__card--btn {
  margin-top: 20px;
}
.blog__card--btn a {
  font-size: 1.6rem;
  padding: auto 10px;
  color: #03FA6E;
  font-weight: 700;
}

@media screen and (max-width: 770px) {
  .blog__card {
    max-width: 330px;
    margin: 0 auto;
    padding-top: 5px;
  }
  .blog__card--image {
    max-width: 320px;
    max-height: 320px;
  }
  .blog__card--body {
    margin-left: 16px;
  }
  .blog__card--body h3 {
    padding-top: 8px;
    margin-bottom: 8px;
    font-size: 2rem;
  }
  .blog__card--body p {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .blog__card--btn {
    margin-top: 14px;
    margin-bottom: 12px;
  }
  .blog__card--btn a {
    font-size: 1.6rem;
    padding: auto 10px;
    color: #03FA6E;
    font-weight: 700;
  }
}
@media screen and (min-width: 754px) {
  .blog__card {
    margin: 0 10px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 5px;
  }
}