.header {
	font-size: 2.3rem;
	&__navbar {
		background-color: $primary-color !important;
	}
}

.container__menu {
	li {
		list-style: none;
		display: inline-block;
		padding: 0 18px;
	}
	a {
		font-weight: 700;
		text-transform: uppercase;
		height: 80px;
		@include links();
	}

	a:hover {
		color: $variation-color;
	}
}

.navbar-toggler {
	border: 1px solid $light-color;
	font-size: $base-font-size;
	&-icon {
		color: $light-color;
	}
}

.container-btn {
	border: 1px solid $light-color;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 8px;
	&__btn {
		font-size: 2.5rem;
		color: $light-color;
		cursor: pointer;
	}
}

.container__header {
	padding-top: 5px;
}

@media screen and (max-width: 770px) {
	.toggle-menu {
		border: 1px solid $light-color;
		border-radius: 5px;
		padding: 8px;
		font-size: 2.2rem;
		z-index: 1;
		cursor: pointer;
		i {
			color: $light-color;
		}
	}
	.container__menu {
		position: absolute;
		width: 100%;
		height: max-content;
		top: 70px;
		left: 0;
	}
	#menu-main-menu
	{
		width: 100%;
		background-color: rgba($primary-color, 0.9);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		transform: translateY(-130%);
		li {
			padding: 1em 0;
		}
	}
	.container__header {
		padding-top: 0;
	}

	.main-menu--show {
		transform: translateY(0%) !important;
	}
}

@media screen and (min-width: 770px) {
	.toggle-menu {
		display: none;
	}
}
