.header {
	font-size: 2.3rem;
	&__navbar {
		background-color: $primary-color !important;
	}
}

.container__menu {
	li {
		list-style: none;
		display: inline-block;
		padding: 0 18px;
	}
	a {
		font-weight: 700;
		text-transform: uppercase;
		height: 80px;
		@include links();
	}

	a:hover {
		color: $variation-color;
	}
}

.navbar-toggler {
	border: 1px solid $light-color;
	font-size: $base-font-size;
	&-icon {
		color: $light-color;
	}
}


