.single__image {
	img {
		border-radius: 15px;
	}
}

.single__description {
	border-left: 1px solid rgba($dark-color, 0.3);
	p {
		padding-left: 8px;
	}
}

.nav-pagination {
	margin: auto 30px;
	a {
		text-decoration: none;
		font-size: 2rem;
		font-weight: 700;
		@include shadow(0.5px, $variation-color);
	}
	a:hover {
		color: #02883c;
	}
}

.container-seemore {
	a {
		font-size: 2rem;
		padding: 10px;
	}
}

@media screen and (max-width: 767px) {
	.single__description {
		margin-top: 12px;
		border-top: 1px solid rgba($dark-color, 0.3);
		border-left: 0px solid rgba($dark-color, 0.3);
		p {
			padding-left: 8px;
		}
	}

}
